.carousel-item .col {
    padding-left: 3px;
    padding-right: 3px; 
  }

.carousel .col{
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.carousel .col:hover{
    transform: scale(1.1);
}


.carousel-control-next, .carousel-control-prev{
    width: auto;
}